body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.main-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  color: #ffffff;
  text-align: center;
}

.second-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: #2e2f42;
  text-align: center;
}

.sub-second-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.accent {
  color: #4d5ae5;
}

.header-logo,
.footer-logo {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #2e2f42;
  font-size: 18px;
  letter-spacing: 0.03em;
}

.nav-link {
  color: #2e2f42;
  font-weight: 500;
}

.nav-link.active {
  color: #404bbf;
}

address {
  font-style: normal;
}

.address-link {
  color: #434455;
  font-weight: 400;
}

.nav-link:hover,
.address-link:hover,
.nav-link:focus,
.address-link:focus {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
}

.order-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.04em;
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

.features-title {
  text-align: start;
}

.our-team {
  background-color: #f4f4fd;
}

.team-list-item {
  background-color: #ffffff;
}

.employee-name,
.employee-position {
  text-align: center;
}

.footer {
  background-color: #2e2f42;
}

.footer-logo,
.footer-text {
  color: #f4f4fd;
}
